body {
  background-color: white;
}

Piotrek Pkp input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

#container {
  font-family: montserrat;
  text-align: center;
  font-size: 1.5rem;
}

button {
  font-size: 1rem;
  padding: 8px 13px;
  border-radius: 10px;
  border: none;
  background-color: rgb(209, 0, 0);
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.1s ease-in-out, scale 0.05s ease-in-out;
  box-shadow: salmon 2px 2px 3px 2px;
}

button:hover {
  background-color: rgb(247, 0, 0);
}

button:active {
  scale: 94%;
}

input {
  font-size: 1rem;
  width: 120px;
  text-align: center;
  font-weight: bold;
}

#diceResult {
  margin: 20px;
}

#diceImages img {
  width: 100px;
  margin: 5px;
}
